@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- banner -->
<div class="banner10" id="home1">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3ls_about_grids">
            <div class="col-md-6 w3ls_about_grid_left">
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.
                </p>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p>
                        Sunt in culpa qui officia deserunt mollit
                        anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p>
                        Sunt in culpa qui officia deserunt mollit
                        anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">
                <img src="images/77.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
