@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<!-- banner -->
@* <div class="banner10 mybanner" id="home1"> *@
@*     <div class="container"> *@
@*         <h2>Some Frequently Asked Questions</h2> *@
@*     </div> *@
@* </div> *@
<!-- //banner -->
<!-- about -->
<!-- //about -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Hey, Learn Us, Stay Close</h3>
        <div class="wthree_team_grids">

            <div class="col-md-3 wthree_team_grid">
                <h4>What is FreshMArt? </h4>
                <div class="agileits_social_button" style="text-align: left; color: aliceblue">

                    FreshMart is a online market place that makes a connection between the user with the customer directly and makes a perfect
                    buying/selling environment.
                </div>
            </div>

            <div class="col-md-3 wthree_team_grid">
                <h4>How to sell a Product? </h4>
                <div class="agileits_social_button" style="text-align: left; color: aliceblue">
                    To sell a product You have to be a seller first ! Or you won't be able to sell any product here.
                    Give you necessary information to be a seller first.
                </div>
            </div>

            <div class="col-md-3 wthree_team_grid">
                <h4>How to buy a Product? </h4>
                <div class="agileits_social_button" style="text-align: left; color: aliceblue">
                    To buy a product You need to select your product and go for checkout ! Its super easy!
                    If you are a member you will get a little advantage to entry your details.
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <h4>How to perfectly checkout product?</h4>
                <div class="" style="text-align: left; color: aliceblue">
                    To make a perfect checkout you need to follow the instraction below: <br />
                    <ul style="text-align: left; color: aliceblue">
                        <li>Input basic info</li>
                        <li>Make sure you paid total amount</li>
                        <li>If any mistake you can contact</li>
                    </ul>
                </div>
            </div>



            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //team -->
<!-- team-bottom -->
<div class="team-bottom">
    <div class="container">
        <h3>Are You Ready For Awesomeness? So Get Started Now !</h3>

        <a asp-controller="Products" asp-action="Index">Shop Now</a>
    </div>
</div>
<!-- //team-bottom -->
