@model IEnumerable<FreshMart.Models.Category>
@{
    ViewData["Title"] = "Parents";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            All Parent Categories
        </h1>

    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Take Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", "Categories", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "DeleteConfirmed", "Categories", new { id = item.Id })

                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>


