@model FreshMart.ViewModels.SellerViewModel

@using Microsoft.AspNetCore.Identity
@using FreshMart.Models


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (Model.Seller != null)
    {
        var sellerid = Model.Sellers.Where(c => c.Email == User.Identity.Name).Select(c => c.Id).FirstOrDefault();
        <li><a asp-action="Index" asp-controller="Sellers" asp-route-id="@sellerid">Profile</a></li>
        <li><a asp-action="CreateProduct" asp-controller="Sellers" asp-route-id="@sellerid">Add Products</a></li>
        <li><a asp-action="SellerProducts" asp-controller="Sellers">Your Products</a></li>
    }
    else
    {
        <li> @Html.ActionLink("Be a seller", "Create", "Sellers")</li>
    }
}
else
{
    <li>@Html.ActionLink("Be a seller", "Create", "Sellers")</li>
}
